<style type='text/css'>
    .root{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subdiv{
        width: 400px;
    }

    .subdivpic{
        width: 400px;
        height: auto;
        padding: 20px;
        background: #bdc3c7;
        margin-top: 5px;
    }
    </style>
    
    <html>
        <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
        <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
        <script src='/javascripts/project.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <form action="/supplier/editdeleterecord">
    <div class="root">
        <div class="subdiv">

            <div class="root">
                <div class="subdiv">
                    <a href="/supplier/displaysupplier">Show All Suppliers</a>
                    <input type='hidden' value='<%=Data.supplierid %>' name='supplierid'>
                    <div class="card">
                        <div class="card-header">Edit/Delete Suppliers</div>
                        
                        <div class="card-body card-block">
                            <div>

                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input type='text' name="suppliername" value="<%=Data.suppliername %>" 
                                    class="form-control" placeholder="Suplplier Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <% if(Data.suppliergender=="Male") {%>
                                <input type="radio" name="suppliergender" vale="Male" class="with-gap" checked>
                                <i class="fa fa-male" style="font-size: 20px; color:#003399"></i>

                                <input type="radio" name="suppliergender" value="Female" class="with-gap"
                                    style="margin-left:30px">
                                <i class="fa fa-female" style="font-size: 20px; color:red"></i>
                                <%} else { %>
                                    <input type="radio" name="suppliergender" vale="Male" class="with-gap">
                                <i class="fa fa-male" style="font-size: 20px; color:#003399"></i>

                                <input type="radio" name="suppliergender" value="Female" class="with-gap"
                                    style="margin-left:30px" checked>
                                <i class="fa fa-female" style="font-size: 20px; color:red"></i>
                                <% } %> 
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                    <textarea class='form-control' name="supplieraddress" ><%=Data.supplieraddress%></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                            <select name="state" id="state" class="form-control">
                                                <option><%=Data.statename %></option>
                                                </select>

                                        </div>
                                    </div>

                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                                            <select name="city" id="city" class="form-control">
                                                <option><%=Data.cityname %></option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                    <input type='text' name="mobileno" value="<%=Data.mobileno %>" class="form-control" placeholder="Mobile No.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                                    <input type='text' name="firmname" value="<%=Data.firmname %>" class="form-control" placeholder="Firm Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
                                    <input type="file" name="firmlogo" placeholder="Company Logo" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
                                    <input type="file" name="picture" placeholder="Seller Image" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-actions form-group"><button type="submit" value="Edit"
                                            class="btn btn-success btn-sm">Edit</button></div>

                                </div>
                                <div class="col">
                                    <div class="form-actions form-group"><button type="submit" value="Delete"
                                            class="btn btn-success btn-sm">Delete</button></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>





    <div class="root">
        <form action="/supplier/editdeleterecord">
    <div class="subdiv"> 
        <a href="/supplier/displaysupplier">Show All Suppliers</a>
            <h4>Edit/Delete Suppliers</h4> 
            <input type='hidden' value='<%=Data.supplierid %>' name='supplierid'>   

            <div class="row ctrl"> 
                <input type='text' name="suppliername" value="<%=Data.suppliername %>" class="form-control" placeholder="Suplplier Name">
            </div>
      

        <div class="row ctrl">
            <div class="col">
                <% if(Data.suppliergender=="Male") {%>
            <input type='Radio' name='suppliergender' value="Male" checked>Male
        </div>
        <div class="col">
            <input type='Radio' name='suppliergender' value="Female">Female
            </div>
        <%} else { %>
            <div class="col">
            <input type='Radio' name='suppliergender' value="Male">Male
        </div>
        <div class="col">
            <input type='Radio' name='suppliergender' value="Female" checked>Female
        </div> 
        <% } %>     

    </div>


        <div class="row ctrl">
            
            <textarea class='form-control' name="supplieraddress" ><%=Data.supplieraddress%></textarea>
         </div>

        <div class="row ctrl"> 
            <div class="col">
            <select name="state" id="state" class="form-control">
                <option><%=Data.statename %></option>
                </select>
            </div>
            <div class="col">
                <select name="city" id="city" class="form-control">
                    <option><%=Data.cityname %></option>
                    </select>
                </div>
    </div>

    <div class="row ctrl"> 
        <input type='number' name="mobileno" value="<%=Data.mobileno %>" class="form-control" placeholder="Mobile No.">
    </div>
    
    <div class="row ctrl"> 
        <input type='text' name="firmname" value="<%=Data.firmname %>" class="form-control" placeholder="Firm Name">
    </div>
    
      <div class="row ctrl">
          <div class="col">
            <button type="submit" value="Edit" name="btn" class="btn btn-primary">Edit</button>
          </div>
          <div class="col">
            <button type="submit" value="Delete" name="btn" class="btn btn-primary">Delete</button>
          </div>
      </div>
      
    </div> 
</form>

<form action="/supplier/editpicture" enctype="multipart/form-data" method="POST">
    <input type="hidden" value="<%=Data.supplierid %>" name="supplierid">
  <div class="subdivpic">
    <div class="row ctrl">
        <div class="col">
            <img src="/images/<%=Data.firmlogo %>" width="80" height="80">
         </div>
         <div class="row ctrl">
           <input type="file" name="firmlogo" class="form-control">
         </div> 
      <div class="col">
         <img src="/images/<%=Data.picture %>" width="80" height="80">
      </div>
      <div class="row ctrl">
        <input type="file" name="picture" class="form-control">
      </div>  
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Edit Picture</button>
    </div>

  </div>
</form>
    </div>
      
    </html>
    
    
    
    